   <!-- Slot machine example -->
    <div id="casino" style="padding-top:50px;">
      <div class="content">
        <h1>Meteo Mirage</h1>

        <div class="content-slot">
          <div id="machineClock" class="slotMachine">
            <% @Clocks.each_with_index do |clock, idx| %>
              <div class="slot slot<%= idx%>" data-name="<%= clock.name %>">
                <%= image_tag clock.img %>
              </div>
            <% end %>
          </div>

          <div id="machineWeather" class="slotMachine">
            <% @Weathers.each_with_index do |weather, idx| %>
              <div class="slot slot<%= idx%>" data-name="<%= weather.name %>">
                <%= image_tag weather.img %>
              </div>
            <% end %>
          </div>

          <div id="machinePlace" class="slotMachine">
            <% @Places.each_with_index do |place, idx| %>
              <div class="slot slot<%= idx%>" data-name="<%= place.name %>">
                <%= image_tag place.img %>
              </div>
            <% end %>
          </div>

        </div>
        <div class="result-container">
          <div><h1 id="resultClock"></h1></div>
          <div><h1 id="resultWeather"></h1></div>
          <div><h1 id="resultPlace"></h1></div>
        </div>
        <a>
          <a id='resultSong'></a>
        </a>
        <div class="btn-group btn-group-justified row mt-4" role="group">
          <button id="casinoShuffle" type="button" class="btn btn-primary btn-lg col-sm-4">Shuffle!</button>
          <button id="casinoStop" type="button" class="btn btn-primary btn-lg col-sm-4">Stop!</button>
        </div>
      </div>
    </div>

